streamlit>=1.40.0
python-dotenv
Pillow
pypdf
groq
gTTS
python-pptx

langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb

moviepy==1.0.3
imageio==2.34.1
imageio-ffmpeg==0.5.1
numpy==1.26.4
