streamlit
python-dotenv
pypdf
groq
gTTS
python-pptx
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
python-docx
fpdf2
Pillow
openpyxl
